$color-nav: #1B2631
$color-nav-a: #5C6F80
$color-content-bg: #F9F9F9
$color-title: #E88630
$color-table: #ECECEC
$color-button: #5E749E
$color-button-hover: #E88630
$color-table-title: #34495E
$color-table-title-bg: #EAEDED
$color-content: #626567
*
    // border: 1px solid black
    font-family: 'Hind Madurai',微軟正黑體

html,body 
    padding: 0px
    margin: 0px
    height: 100%
    position: relative
    background-color: $color-content-bg


.sidenav
    width: 200px
    height: 100%
    background-color: $color-nav
    position: fixed
    top: 0
    left: 0
    z-index: 3
    overflow-x: hidden
    padding-top: 60px
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6)
     

.sidenav a 
    padding: 10px 8px 10px 30px
    text-decoration: none
    font-size: 18px
    color: $color-nav-a
    display: block
    

.sidenav a:hover 
    color: #f1f1f1
    background: darken($color-nav,6)

.sidenav a:active
    color: #f1f1f1
    background: darken($color-nav,6)

i 
    margin-right: 20px
    font-size: 16px
i.fa-bookmark
    margin-left: 2px
    margin-right: 22px


.top    
    position: fixed
    right: 0
    top: 0
    width: 100%
    height: 50px
    text-align: right
    line-height: 50px
    padding-right: 30px
    right: 0
    color: $color-nav
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2)
    z-index: 2
    overflow-y: hidden
    background: $color-content-bg

.fa-leaf
    margin-right: 5px
.top h4 
    margin: 0px
    
    display: inline


.content
    z-index: 1
    
    position: absolute
    top: 0px
    padding-top: 60px
    margin-left: 200px
    background-color: $color-content-bg
       
.main
    
    padding-left: 30px
    
.main h2 
    color: $color-title

.info
    width: 100%
    position: relative
    
.info h5 
    
    display: inline-block

.infoShow
    margin-left: 30px
    color: $color-content

.infoNumber
    color: $color-content
.infoSelect
    display: inline-block
  
    


// table

.infolist
    max-width: 1600px
    overflow: auto

.infoTable
    width: 2800px
    

table
    border: 1px solid #EAEDED
    border-spacing: 0 0 
    color: $color-content
    
    

tr,td 
    border: 1px solid #EAEDED
    

tr 
    // height: 50px
  
td 
    
    padding:  0.5em
    
    
.rowNum
    text-align: center
    color: $color-content

.title
    text-align: center
    font-weight: bold
    background: $color-table-title-bg
    color: $color-table-title
    height: 20px


// buttun
.showInfo,.edit
    width: 30px
    border: none
    outline: none
    background: none
    text-align: middle
    font-size: 16px
    color: $color-button
    cursor: pointer

.showInfo:hover,.edit:hover
    color: $color-button-hover


.pageSelect
    
    margin-top: 20px
    margin-bottom: 20px
    
.front,.next
    cursor: pointer
    width: 40px
    height: 40px
    border-radius: 100%
    border: none
    background: none
    outline: none
    text-align: center
    line-height: 35px
    font-size: 25px
    padding-left: 13px
    color: $color-button
    